#Global,
#Global #Home {
    background: black;
}

#Global #Home .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

#Global #Home .container h1 {
    font-size: 4.5rem;
    font-weight: bold;
    background-color: rgb(0, 58, 176);
    background-image: linear-gradient(45deg, rgb(0, 47, 63) 20%, rgb(255, 255, 255) 52%, rgb(0, 94, 146) 95%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#Global #Home .container strong {
    font-size: 2.5rem;
    text-align: center;
    color: white;
}

#Global #Home .container .div-space {
    height: 40px;
}

#text-cursor {
    opacity: 1;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

/* Iframe */
#Global #Home .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: black;
}

#Global #Home .content iframe {
    border: none;
    height: 655px;
}

/* INPUT SEARCH */
#Global #Home .container .div-input #search-form #search {
    background-color: #333;
    border: none;
    padding: 5px;
    color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    outline: none;
    font-size: 25px;
}

#Global #Home .container .div-input #search-form #search::placeholder {
    color: #aaa;
}

#Global #Home .container .div-input {
    position: relative;
    width: 90%;
}

/* SELECT */
#Global #Home .container .div-input #search-form #type {
    background-color: #333;
    border: none;
    padding: 5px;
    color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    outline: none;
    width: 100%;
    font-size: initial;
}

#Global #Home .container .div-input #search-form #type option {
    background-color: #333;
    color: #f0f0f0;
    font-size: initial;
}

#Global #Home .container .div-input #search-form #type::before {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 25px;
    color: #f0f0f0;
    pointer-events: none;
}

/* SUBMIT */
#Global #Home .container .div-input #search-form #submit {
    background-color: #333;
    border: none;
    padding: 10px 15px;
    color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    outline: none;
    cursor: pointer;
}

#Global #Home .container .div-input #search-form #submit:hover {
    background-color: #444;
}

/* FORM */
#Global #Home .container .div-input #search-form {
    display: flex;
}

#Global #Home .container .div-input #search-form #type {
    width: 10%;
}

#Global #Home .container .div-input #search-form #search {
    width: 85%;
}

#Global #Home .container .div-input #search-form #submit {
    width: 5%;
}