#Global #Player {
    display: block;
    width: 100%;
    height: auto;
    padding: 30px 55px;
}

#Global #Player .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

#Global #Player .container  .context {
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#Global #Player .container #PlayerEmbed, 
#Global #Player .container #PlayerEmbed iframe{
    width: 720px;
    height: 480px;
}