/* INDENTIF PAGE */

.a1-b1::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200%;
    height: 3px;
    background-color: red;
}

#Global #Home {
    width: 100%;
    height: auto;
}

#Global #Home .conteiner,
#Global #Home .conteiner .shadow {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 700px;
    background: url(https://vizer.in/content/movies/background/1280/39487.webp);
    background-size: cover;
}

/* SHADOW */

#Global #Home .conteiner .shadow {
    background: #0f0f0f80;
    position: relative;
}

#Global #Home .conteiner .shadow::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, black, transparent);
}

/* BTN CENTER */

.action-left,
.action-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 45px;
}

.action-left,
.action-right a {
    font-size: 15px;
}

.action-right a {
    text-decoration: underline;
    color: white;
}

.action-left {
    border-radius: 25px;
    box-shadow: #4d4d4d80 -1px 1px 10px 0px;
    background: #f0f0f050;
    backdrop-filter: blur(10px);
    color: black;
    font-weight: bold;
    transition: all ease-in 200ms;
}

.action-left:hover {
    background: white;
}

/* SECUNDARY DIV */

#Global #Home .content {
    display: block;
    width: 100%;
    min-height: 700px;
    background: black;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#Global #Home .content .session {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-around;
    width: 100%;
    height: 300px;
    margin-top: 50px;
}

#Global #Home .content .session * {
    color: white;
}

/* ALING DIVS */

#Global #Home .content .session .options, #Global #Home .content .session .context {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#Global #Home .content .session .options {
    width: 100%;
    height: 20%;
}

#Global #Home .content .session .options h3 {
    margin-right: 25px;
}

#Global #Home .content .session .options span {
    margin-right: 20px;
    display: block;
    padding: 10px 15px;
    background: #4f4f4f;
    border-radius: 25px;
    color: whitesmoke;
    cursor: pointer;
    font-size: 15px;
    transition: all ease-in 200ms;
    text-transform: capitalize;
}

#Global #Home .content .session .options span:hover {
    background: white;
    color: black;
}

#Global #Home .content .session .context {
    width: 100%;
    height: 80%;
}

#Global #Home {}